# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Temporary Files
pyfiles.txt

# Zip Files
*.zip

# GeoTIFF raster files (exceed GitHub file-size limits)
*.tif
*.tiff
node_modules
# OS Files
Thumbs.db
.DS_Store
.env
dataset/
