.hero{

display:grid;

grid-template-columns:2.2fr 420px;

gap:24px;

height:560px;

margin-bottom:24px;

}

.hero-left{

height:100%;

}

.hero-right{

height:100%;

display:flex;

flex-direction:column;

gap:20px;

}

@media(max-width:1500px){

.hero{

grid-template-columns:1fr;

height:auto;

}

.hero-right{

height:auto;

}

}